*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



h1{
    text-align: center;
    margin: 40px 0;
}

#carousel{
    max-width: 1200px;
    margin: auto;
    height: 500px;
    position: relative;
    
    
    
}

#carousel #img-container{
    
    width: 100%;
    height: 100%;
    background-color: aqua;
}


#carousel #img-container img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    
    
}


#carousel #img-container #thumbnail-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: lightgray;
}

#carousel #img-container #thumbnail-container img{
    width: 100%;
    height: 100px;
    display: block;
    opacity: .5;
}


#carousel #img-container #thumbnail-container img.active{
    opacity: 1;
}

#up-arrow{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

#down-arrow{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}